* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
} /* Reseteo de CSS */

.header {
    background-color: rgba(253, 250, 252, 0.712);
    position: sticky;
    top: 0px;
/*     display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: space-between; */
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    grid-template-areas: 
    "header__logo header__titulo header__titulo"
    "header__logo header__buscador header__buscador"
    "header__navbar header__navbar header__navbar";
}
.header__logo {
    margin: 5px;
    border: 1px solid black;
    border-radius: 30px;
    width: 140px; /* Ancho */
    height: 140px; /* Alto */
    grid-area: header__logo;
}
.header__titulo {
    margin: 15px;
    padding: 10px;
    background-color: transparent;
    grid-area: header__titulo;
}
.header__buscador {
    display: inline-block;
    margin:10px;
    height: 50px;
    width: 300px;
    grid-area: header__buscador;
}
.header__buscador--boton {
    background-color: #4cbc8a;
    color: #fcfcfe;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
}
.header__buscador--buscar {
    border-radius: 5px;
}
.header__navbar {
    grid-area: header__navbar;
}
.header__navbar li{
    background-color:#4cbc8a;
    display: inline-block;
    position: relative;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    width: 100px; /* Ancho */
    height: 50px; /* Alto */
    text-align: center;  
    border: 1px solid black;
    transition: all 1s;
}

.header__navbar li a{
    text-decoration: none;
    color: #fcfcfe;
}

.submenu {
    display: none;
    position: absolute;

}
li:hover {
    background-color: #78daad;
    width: 120px;
    
}
.header__navbar li:hover ul {
    display: block;
    display:flex;
    flex-flow: column wrap;
    justify-content:center;

}
span {
    font-size: 30px
}

h1, h2, h3, h4, p {
    font-family: 'Nunito', sans-serif;
}
/* Carousel */
.carousel {
    width: 75%;
}
section h1 {
    margin: 15px;
}
/* Nosotros */
.nosotros__img {
    background-image: linear-gradient(to right, white, black);
}

/* footer */
.footer{
    display: inline;
    text-align: center;
}
.footer h4{
    background-color: #4cbc8a;
    color: #fcfcfe;
}
.footer p{
    background-color: #4cbc8a;
    color: #fcfcfe;
}

hr {
    border-color: black;
    margin-top: 1rem;
}

/* Contacto */

.contacto__seccion {
    margin-top: 10px;
    margin-bottom: 10px;
}

.formulariocontacto {
    margin: 90px;
}


/* Tablas */

.contenido__encabezado {
    margin-top: 15px;
    margin-left: 15px;
}

.contenido__encabezado--parrafo {
    margin-top: 15px;
    margin-left: 15px;
}

.tabla {
    border: none;
    padding: 5px;
    margin: 30px;
    border: 1px solid black;
    
}

.tabla__encabezado {
    font-weight: bold;
    padding: 40px;
    
}

table {
    text-align: center;
    width: 50%;
}
td, th {
    border: 1px solid black;
    width: 25%;
}
.tabla__boton {
    background-color: #4cbc8a;
    color: #fcfcfe;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
}
.comprar {
    height: 80px;
    height: 80px;
}


